# ==================================================
# = REDIS (UPSTASH)
# ==================================================
# URL proporcionada por Upstash
# Formato:
# rediss://:<PASSWORD>@<HOST>:<PORT>

REDIS_URL=rediss://:<PASSWORD>@<HOST>:<PORT>